# This file is inclusive of .gitignore

# test etc does not get distributed to the client
test
.github
.husky

# tools does not get distributed to the client
tools

# Screenshots does not get distributed to the client
Screenshots
